body {
    background-color: black
}

.logo {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 9vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%)
}

#logohub {
    color: #000;
    background-color: orange;
    border-radius: 1vw;
    padding: 0 1vw 1vw 1vw;
    display: inline-block;
}

#introtext {
    font-size: 4vw;
    transform: translate(-50%,50%);
    color:black;
    background-color: orange;
    border-radius: 1vw;
}

#redlogo {
    height: 4vw;
    width: 4vw;
    display: flex;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 4vw;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }